.container{
    display: flex;    
}
.leftbar{
    width: auto;
    position: fixed;
    overflow:auto;
}
.right{
    z-index: -1;
    margin-left: 20rem;
    margin-top: 8rem;
}
.btnmargin{
    margin-right: 5px;
}