.detailSection {
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2%;
}

.leftbar {
    width: 30%;
    text-align: center;
}

.card {
    /* overflow: hidden; */
    width: 60%;
}

@media only screen and (max-width: 500px) {
    .detailSection {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 2%;
    }
    .leftbar {
        width: 90%;
        margin-bottom: 5%;
    }
    
    .card {
        width: 90%;
    }
}
